@import "tailwindcss";

@font-face {
  font-family: 'Woodblock';
  src: url('/woodblock.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  src: url('/Futura.woff2') format('woff2'),
      url('/Futura.woff') format('woff'),
      url('/Futura.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Futura';
  font-optical-sizing: auto;
  font-style: normal;
  @apply bg-slate-950 text-slate-100
}

.woodblock {
  font-family: 'Woodblock', sans-serif;
}

.curved-text {
  transform: perspective(400px) rotateX(10deg) scaleY(1.4);
}

.input {
  @apply bg-slate-800 text-slate-100 border-slate-600 rounded-md p-2 outline-none transition-all border-2 focus:border-yellow-400
}